### 변동성 이해하기
* 값들이 서로 얼마나 다른지 여부 파악

In [1]:
num1 <- c(7,6,3,3,1)
num2 <- c(3,4,4,5,4)
num3 <- c(4,4,4,4,4)

In [5]:
paste(mean(num1), mean(num1), mean(num1))

[1] "4 4 4"

# 분산경향 
* 기술통계의 또 다른 관점 - 분산, 산포
* 데이터가 어떻게 분포되어 있는지 설명하는 통계치
* 자료의 흩어지거나 밀집되는 정도를 나타내는 척도
  * 범위
  * 사분위수
  * 분산
  * 표준편차
  * 분산, 표준편차를 많이 사용 > 사분위수 > 범위

# 범위
* 수집한 자료의 가장 큰 값과 작은 값의 차이
* 수집한 자료가 어느정도 흩어져 있는지 살펴볼 수 있는 통계치
* 계산하기 쉽다
* 특이값에 영향을 많이 받는다
* 범위가 동일해도 분산정도는 크게 다를 수 있다
> $r = h - l$ <br>
> $R = x_{(n)} - x_{(1)}$

#### 조선조 왕들 수명의 범위 조사

In [7]:
kings <- c(73,62,45,53,38,16,51,28,37,30,56,30,33,56,66,54,40,33,59,36,82,48,44,22,32,67,52)

max <- max(kings)
min <- min(kings)

range <- max - min
paste(max, min, range)

[1] "82 16 66"

In [8]:
# range : 최소값과 최대값 표시
range(kings)

[1] 16 82

#### 대학원생들 나이 범위 조사

In [9]:
stus <- c(19,18,19,21,20,24,19,19,20,18,21,22,23,21,19,18,22,24,21,18,19)

max <- max(stus)
min <- min(stus)

range <- max - min
paste(max, min, range)

[1] "24 18 6"

In [10]:
range(stus)

[1] 18 24

# 분산

* 평균을 중심으로 밀집되거나 퍼짐 정도를 나타내는 척도
* 모분산 $ \sigma^2 $ : 모집단을 구성하는 모든 자료값과 모평균의 편차제곱에 대한 평균
* 표본분산 $ s^2 $: 표본을 구성하는 모든 자료값과 표본평균의 편차의 제곱합을 n-1로 나눈 수치

* 편차    
> $(x_{i} - \bar{x})$

* 편차제곱
> $(x_{i} - \bar{x})^2$

* 모분산
> ## $ \frac {\sum(x_{i} - \bar{x})^2}{N} $

* 표본분산
> ## $ \frac {\sum(x_{i} - \bar{x})^2}{n-1} $

In [15]:
nums <- c(5,8,5,4,6,7,8,8,3,6)

means <- mean(nums)  # 평균
means

[1] 6

In [18]:
devi <- nums - means  # 편차

print(devi)
print(sum(devi))      # 편차의 합은 0

 [1] -1  2 -1 -2  0  1  2  2 -3  0
[1] 0

In [19]:
devi <- (nums - means) ** 2  # 편차제곱

print(devi)
print(sum(devi))             # 편차제곱의 합은 양수

 [1] 1 4 1 4 0 1 4 4 9 0
[1] 28

In [20]:
sum(devi) / length(nums)

[1] 2.8

In [22]:
# 편차제곱 합을 데이터 개수로 나눔 : 편차제곱의 평균 - 분산

print(sum(devi) / length(nums))      # 모분산
print(sum(devi) / (length(nums)-1))  # 표본분산

[1] 2.8
[1] 3.111111

In [42]:
# var : 분산
print(var(nums))
print(var(nums, use='everything'))

[1] 3.111111
[1] 3.111111

In [25]:
# A부서와 B부서 사원의 비상금 편차
a <- c(30,26,40,28,26)
b <- c(35,20,60,15,20)

In [36]:
ma <- mean(a)
mb <- mean(b)

paste(ma, mb)

[1] "30 30"

In [39]:
devi1 <- (a - ma) ** 2
devi2 <- (b - mb) ** 2

print(sum(devi1) / (length(a) - 1))
print(sum(devi2) / (length(b) - 1))

[1] 34
[1] 337.5

In [40]:
paste(var(a), var(b))

[1] "34 337.5"

#### 조선조 왕들 수명의 분산 조사

In [45]:
mk <- mean(kings)

devi <- (kings - mk) ** 2

paste(mk, sum(devi) / (length(kings) - 1))

[1] "46.037037037037 261.575498575499"

In [47]:
var(kings)

[1] 261.5755

#### 대학원생들 나이 분산 조사

In [46]:
ms <- mean(stus)

devi <- (stus - ms) ** 2

paste(ms, sum(devi) / (length(stus) - 1))

[1] "20.2380952380952 3.69047619047619"

In [50]:
var(stus)

[1] 3.690476

# 표준편차

* 분산값에 제곱근을 취한 값
* 분산은 편차를 제곱했기 때문에 결과값의 단위 역시 제곱이 됨
* 분산의 단위를 원래 자료의 단위로 전환하기 위해 만든 값

* 모표준편차 $\sigma$
> ## $ \sqrt \frac {\sum(x_{i} - \bar{x})^2}{N} $

* 표본 표준편차 $s$
> ## $ \sqrt \frac {\sum(x_{i} - \bar{x})^2}{n-1} $

In [54]:
# A부서와 B부서 사원의 비상금 편차

paste(var(a), var(b))              # 표본분산
paste(sqrt(var(a)), sqrt(var(b)))  # (표본)표준편차

[1] "34 337.5"

[1] "5.8309518948453 18.3711730708738"

In [55]:
paste(sd(a), sd(b))

[1] "5.8309518948453 18.3711730708738"

In [58]:
# 어떤 카푸치노 판매점들의 5일 동안 오후 4~5시 사이의 판매량 데이터를 보고
# 어느 지점이 판매를 잘하였는지 파악하시오

A <- c(20,40,50,60,80)
B <- c(20,45,50,55,80)

[1] "34 337.5"

[1] "5.8309518948453 18.3711730708738"

In [61]:
paste(mean(A), mean(B))

[1] "50 50"

In [62]:
paste(range(A), range(B))

[1] "20 20" "80 80"

In [63]:
paste(round(sd(A), digits=1), round(sd(B), digits=1))

[1] "22.4 21.5"

In [68]:
# 회계수습사원들의 월급이 3536,3173,3448,3121,3622라고 한다
# 사무수습사원들의 월급평균은 3550, 표준편차는 250이라 할때
# 이 둘 수습사원 그룹을 비교하시오

account <- c(3536,3173,3448,3121,3622)

In [67]:
paste(mean(account), round(sd(account), digits=1))

[1] "3380 222.2"

#### 조선조 왕들 수명의 표준편차 조사

In [70]:
paste(mean(kings), sd(kings))

[1] "46.037037037037 16.1732958476465"

#### 대학원생들 나이 표준편차 조사

In [71]:
paste(mean(stus), sd(stus))

[1] "20.2380952380952 1.92106121466136"

### 핫도그 먹기대회 기술통계

In [72]:
hot <- read.csv(file = './data/hotdog.csv')
print(hot)

   Year                       Winner Dogs.eaten       Country New.record
1  1980 Paul Siederman & Joe Baldini       9.10 United States          0
2  1981              Thomas DeBerry       11.00 United States          0
3  1982               Steven Abrams       11.00 United States          0
4  1983                 Luis Llamas       19.50        Mexico          0
5  1984               Birgit Felden        9.50       Germany          0
6  1985             Oscar Rodriguez       11.75 United States          0
7  1986                 Mark Heller       15.50 United States          0
8  1987                 Don Wolfman       12.00 United States          0
9  1988                   Jay Green       14.00 United States          0
10 1989                   Jay Green       13.00 United States          0
11 1990                 Mike DeVito       16.00 United States          0
12 1991             Frank Dellarosa       21.50 United States          1
13 1992             Frank Dellarosa       19.00 United States          0
14 1993                 Mike DeVito       17.00 United States          0
15 1994                 Mike DeVito       20.00 United States          0
16 1995              Edward Krachie       19.50 United States          0
17 1996              Edward Krachie       22.25 United States          1
18 1997           Hirofumi Nakajima       24.50         Japan          1
19 1998           Hirofumi Nakajima       19.00         Japan          0
20 1999                Steve Keiner       20.25 United States          0
21 2000  Kazutoyo "The Rabbit" Arai       25.13         Japan          1
22 2001            Takeru Kobayashi       50.00         Japan          1
23 2002            Takeru Kobayashi       50.50         Japan          1
24 2003            Takeru Kobayashi       44.50         Japan          0
25 2004            Takeru Kobayashi       53.50         Japan          1
26 2005            Takeru Kobayashi       49.00         Japan          0
27 2006  Takeru "Tsunami" Kobayashi       53.75         Japan          1
28 2007               Joey Chestnut       66.00 United States          1
29 2008               Joey Chestnut       59.00 United States          0
30 2009               Joey Chestnut       68.00 United States          1
31 2010               Joey Chestnut       54.00 United States          0

In [73]:
hot$Dogs.eaten

 [1]  9.10 11.00 11.00 19.50  9.50 11.75 15.50 12.00 14.00 13.00 16.00 21.50
[13] 19.00 17.00 20.00 19.50 22.25 24.50 19.00 20.25 25.13 50.00 50.50 44.50
[25] 53.50 49.00 53.75 66.00 59.00 68.00 54.00

In [82]:
# 범위의 최소값과 최대값
paste(range(hot$Dogs.eaten))
# 평균과 표준편차
paste(round(mean(hot$Dogs.eaten), digits = 1), round(sd(hot$Dogs.eaten), digits = 1))

[1] "9.1" "68"

[1] "29 19"

### 사원데이터 기술통계

In [83]:
emp <- read.csv('./data/employees.csv')
head(emp, 5)

  EMPLOYEE_ID FIRST_NAME LAST_NAME EMAIL    PHONE_NUMBER HIRE_DATE  JOB_ID
1 100         Steven     King      SKING    515.123.4567 2003-06-17 AD_PRES
2 101         Neena      Kochhar   NKOCHHAR 515.123.4568 2005-09-21 AD_VP
3 102         Lex        De Haan   LDEHAAN  515.123.4569 2001-01-13 AD_VP
4 103         Alexander  Hunold    AHUNOLD  590.423.4567 2006-01-03 IT_PROG
5 104         Bruce      Ernst     BERNST   590.423.4568 2007-05-21 IT_PROG
  SALARY COMMISSION_PCT MANAGER_ID DEPARTMENT_ID
1 24000  NA              NA        90
2 17000  NA             100        90
3 17000  NA             100        90
4  9000  NA             102        60
5  6000  NA             103        60

In [78]:
emp$SALARY

  [1] 24000 17000 17000  9000  6000  4800  4800  4200 12008  9000  8200  7700
 [13]  7800  6900 11000  3100  2900  2800  2600  2500  8000  8200  7900  6500
 [25]  5800  3200  2700  2400  2200  3300  2800  2500  2100  3300  2900  2400
 [37]  2200  3600  3200  2700  2500  3500  3100  2600  2500 14000 13500 12000
 [49] 11000 10500 10000  9500  9000  8000  7500  7000 10000  9500  9000  8000
 [61]  7500  7000 10500  9500  7200  6800  6400  6200 11500 10000  9600  7400
 [73]  7300  6100 11000  8800  8600  8400  7000  6200  3200  3100  2500  2800
 [85]  4200  4100  3400  3000  3800  3600  2900  2500  4000  3900  3200  2800
 [97]  3100  3000  2600  2600  4400 13000  6000  6500 10000 12008  8300

In [80]:
# 범위의 최소값과 최대값
paste(range(emp$SALARY))
# 평균과 표준편차
paste(round(mean(emp$SALARY), digits = 1), round(sd(emp$SALARY), digits = 1))

[1] "2100"  "24000"

[1] "6461.8 3909.6"

In [85]:
paste(round(mean(emp$COMMISSION_PCT, na.rm=T), digits = 1), round(sd(emp$COMMISSION_PCT, na.rm=T), digits = 1))

[1] "0.2 0.1"

### 타이타닉 생존자 기술통계

In [86]:
titanic <- read.csv('./data/titanic.csv')
head(titanic, 5)

  pclass survived name                                            sex
1 1      1        Allen, Miss. Elisabeth Walton                   female
2 1      1        Allison, Master. Hudson Trevor                  male
3 1      0        Allison, Miss. Helen Loraine                    female
4 1      0        Allison, Mr. Hudson Joshua Creighton            male
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female
  age     sibsp parch ticket fare     cabin   embarked
1 29.0000 0     0     24160  211.3375 B5      S
2  0.9167 1     2     113781 151.5500 C22 C26 S
3  2.0000 1     2     113781 151.5500 C22 C26 S
4 30.0000 1     2     113781 151.5500 C22 C26 S
5 25.0000 1     2     113781 151.5500 C22 C26 S

In [88]:
paste(round(mean(titanic$age, na.rm=T), digits = 1), round(sd(titanic$age, na.rm=T), digits = 1))

[1] "29.9 14.4"

In [87]:
paste(round(mean(titanic$fare, na.rm=T), digits = 1), round(sd(titanic$fare, na.rm=T), digits = 1))

[1] "33.3 51.8"